<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %>

<body>

    <div class="container">
        <%- include('./partials/blogHeader') %>

        <div class="blog-post">
            <h1 class="blog-post-title"><%= blogTitle %> </h1>
            <p class="blog-post-body"><%= blogBody %> </p>
        </div>

    </div>

</body>

</html>