@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Alegreya Sans SC", sans-serif;
  padding: 3em 0;
}

header .logo {
  font-size: 2.6rem;
  font-weight: 500;
}

header .logo a {
  color: #1db1a4;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header ul li {
  font-size: 1.1rem;
  margin: 0 1em;
}

header ul li a {
  padding: 0.3em 0;
  text-transform: uppercase;
}

header ul li a:hover {
  border-bottom: 1px solid #5c5c5c;
}

li.current-page a {
  border-bottom: 1px solid #5c5c5c;
}

.create-blog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 200px;
  width: 90%;
  max-width: 500px;
  margin: 5em auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.create-blog-form h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 0.5em 0;
}

.create-blog-form input,
.create-blog-form textarea {
  padding: 0.5em;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  margin: 0.5em 0;
}

.create-blog-form .form-submit {
  border: none;
  background: #1db1a4;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 2px;
}

.blog {
  padding: 0.1em 1.5em;
  max-width: 75%;
  margin: 3.5em auto;
  border-left: 4px solid #1db1a4;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.blog .blog-title {
  font-size: 2rem;
  font-weight: 300;
}

.blog .blog-snippet {
  color: #424242;
  max-width: 60%;
  line-height: 1.2rem;
  padding: 0.5em 0;
}

.blog .read-more-link {
  background: #1db1a4;
  color: white;
  padding: 0.4em 1em;
  font-size: 0.9em;
  border-radius: 5px;
  margin: 0.5em 0;
}

.delete-blog-link {
  background: #c74040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}

.delete-blog-link img {
  width: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.no-blogs {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 5em 0 0 0;
}

.blog-post {
  font-family: "Poppins", sans-serif;
  margin: 3.5em auto;
  max-width: 75%;
}

.blog-post h1 {
  font-weight: 300;
  font-size: 2rem;
  padding: 0.2em 1em;
  margin: 1em 0;
  border-left: 4px solid #1db1a4;
}

.blog-post p {
  text-align: justify;
}

.blog-date {
  font-size: 0.9rem;
  color: #aaaaaa;
  font-weight: 600;
  padding: 0.2em 0 0 0;
}
/*# sourceMappingURL=styles.css.map */